.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}
.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  flex: 10;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}

.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}

.n-button {
  flex: 2;
}

.n-list {
  display: none;
}

.n-hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.n-hamburger i {
  font-size: 1.5rem;
  color: #333;
}

.n-hamburger i.open {
  transform: rotate(45deg);
}
/* side menu */
.n-side-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #f25c7a;
  z-index: 999;
  transition: all 0.3s ease-out;
  overflow: auto;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  
}

.n-side-menu.open {
  left: 0;
  transform: translateX(0);
}

.n-side-menu.open li:hover {
  /* hover animation styles */
  background-color: #eee;
  color: #333;
}
.n-side-menu li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
  
.n-side-menu li.selected {
  background-color: var(--orange);
  color: #fff;
}

.n-side-menu-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
}
.n-side-menu ul {
  margin: 5rem;
}

.n-side-menu ul li {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.n-side-menu ul li a {
  color: #333;
  text-decoration: none;
}
.n-side-menu li.active {
  background-color: #f44336;
  color: #fff;
}
.n-side-menu {
  animation: slideInLeft 0.5s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* styles for extra small devices here */
  .n-list {
    display: none;
  }
  .n-hamburger {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* styles for small devices here */
  .n-list {
    display: none;
  }
  .n-hamburger {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* styles for medium devices here */
  .n-list {
    display: none;
  }
  .n-hamburger {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* styles for large devices here */
  .n-list {
    display: contents;
  }
  .n-hamburger {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* styles for extra large devices here */
  .n-list {
    display: contents;
    
  }
  .n-hamburger {
    display: none;
  }
}

